requests==2.31.0
pandas==2.2.1
numpy==1.26.4
pillow==10.2.0
rapidfuzz==3.7.0
folium==0.16.0

# Streamlit libraries and third-party components
streamlit==1.32.0
streamlit-agraph==0.0.45
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-folium==0.18.0
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-plotly-mapbox-events==0.1.2
streamlit-searchbox==0.1.8
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit-visgraph==0.2.3